{% extends "www/sempre.html.twig" %}

{#{% block title %}{{websiteTitle}}{% endblock %}#}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="/server.svg" style="width: 100px;height: 100px;margin-right: 10px; float: left;">
                {#<div style="background-size: auto;background-repeat: no-repeat ;background-image: url(report.svg);width: 100px;height: 100px;"></div>#}
                <h2>Config</h2>
            </div>
        </div>
        <div class="row spaziataInAlto">
            <div class="col-md-12">
                
            </div>
        </div>
    </div>
{% endblock %}
